body{
  background-color: #92817A;
}
h1{
  color: white;
  font-size: 500%;
  letter-spacing: 4px;
  text-decoration: underline;
  text-decoration-color: #362417;
}
p{
  color: white;
  font-size: 20px;
}
h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 30px;
}
img{
  width: 500px;
  border-style: double;
  border-color: #362417;
  border-width: 20px;
}
ul{
  list-style-type: none;
  text-align: center;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 20px;
  letter-spacing: 4px;
  color: white;
  font-family: "Helvetica";
  font-weight: bold;
  text-decoration: none;
  border: outset;
  background-color: #362417
}
li a:hover{
  background-color: white;
  color: #362417;
}
